{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<article class="ten offset-by-one columns">
    <header>
        <h1 class="single_header">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &gt;
            <a href="{{ .Permalink }}">
            {{ if .Description }}
                {{ .Description }}
            {{ else }}
                {{ .Title }}
            {{ end }}
            </a>
        </h1>
        <p><time datetime="{{.Date.Format "2006-01-02T15:04:05-07:00"}}">{{.Date.Format "2006-01-02"}}</time></p>
    </header>
    <section class="single_content">
        {{ .Content }}
    </section>
    <aside id="meta">
        <p><time datetime="{{.Date.Format "2006-01-02T15:04:05-07:00"}}">{{.Date.Format "2006-01-02 15:04:05"}}</time></p>
        {{ if .Params.tags }}
        <h6>Tags:</h6>
        <ul>
            {{ range .Params.tags }}
                <li class="page_tags"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </aside>
</article>

{{ partial "footer.html" . }}