<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title> {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="log">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700">
    <link rel="stylesheet" href="/log/css/skeleton.css">
    <link rel="stylesheet" href="/log/css/style.css">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="/log/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
</head>
<body>
    <div class="container">

{{ partial "head.html" . }}
    <ul>
{{ range first 10 .Data.Pages }}
    {{ .Render "li"}}
{{ end }}
    </ul>
{{ partial "footer.html" . }}